.header {
  padding: 15px 0;

  &__navigation {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #222;
  }
}
