:root {
    --font-family: "Montserrat", sans-serif;

    --color-accent: #1D449F;
    --color-second: #5176CF;
    --color-section: #2E4476;
    --color-text: #757575;
    --color-bg: #EE7115;
    --color-number: #eccc15;
    --white: #fff;
}
